

ErrorDocument 404 /404.php


Options +FollowSymLinks 
RewriteEngine on 


# index.html to /
#RewriteCond %{THE_REQUEST} ^[A-Z]{3, 9}\ /.*index\.html\ HTTP/
#RewriteRule ^(.*)index\.html$ /$1 [R=301]


RewriteCond %{HTTP_HOST} ^kalefranz.com [NC] 
RewriteRule ^(.*)$ http://www.kalefranz.com/$1 [R=301,NC]

RewriteCond %{HTTP_HOST} ^kfranz.com [NC] 
RewriteRule ^(.*)$ http://www.kalefranz.com/$1 [R=301,NC] 