Options +FollowSymLinks 
RewriteEngine on 
RewriteCond %{HTTP_HOST} ^mid-ir.com [NC] 
RewriteRule ^(.*)$ http://www.primistech.com/$1 [R=301,NC,L] RewriteCond %{HTTP_HOST} ^mid-ir.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.mid-ir.com$
RewriteRule ^/?(.*)$ "http\:\/\/www\.primistech\.com\/$1" [R=301,L]

